@import url("https://fonts.googleapis.com/css?family=Tangerine|Raleway&display=swap");

body{
  font-family: $primary-font;
  font-size: 16px;
  color: $text-color;
}

h2, h3, h4, h5{
  font-family: $primary-font;
  font-weight: 600;
  color: $text-color-dark;
}

p{
  font-size: 16px;
  color: $text-color;
}

h1{
  font-size: 50px;
  color: $body-color;
}

h2{
  font-size: 50px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 25px;
}

h5{
  font-size: 18px;
}

h6{
  font-size: 90px;
  font-weight: 200;
  color: $white;
  font-family: $secondary-font;
}