//site color variables
$body-color: #fff;
$primary-color: #b61919;
$secondary-color:#ff8080;
$text-color: #012443;
$text-color-dark: #d30000;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #faf0e6;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
//$primary-font: 'Tangerine';
//$secondary-font: 'Tangerine';
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Tangerine', sans-serif;